
.nav{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    padding: 0px 150px;
    flex-wrap: wrap;
}

.mainTitle{
    background-color: #1F2937;
    display: flex;
    justify-content:space-between;
    color: hsl(90, 17%, 98%);
    padding: 100px 150px;

}

.mainLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    max-width: 40%;
    flex-shrink: 1;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
    font-size: 18px;
    flex-wrap: wrap;

}

.pushButton{
    border-radius: 10%;
    background-color: #3882F6;
    width:fit-content;
    padding: 5px;
}


a{
    color: #E5E7EB;
    text-decoration: none;
}

img{   
    flex-shrink: 1;   
}

#imgTop{
    border-radius: 10%;
    max-width: 40%;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
}

h3{
    font-size:36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.images{
    display:flex;
    justify-content: space-around;
    gap: 30px;
    padding: 30px 10% 30px 10%;
}

.imagesWithText{
    display:flex;
    flex-direction: column;
}

.roundImg{
    border-radius: 10%;
    border: #3882F6 2px solid;
    max-width: 100%;
}

.info{
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0% 20%;
}

.quoteRef{
    display:flex;
    justify-content: flex-end;
    font-style:normal;
    font-weight: bold;
    
}

.action{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 10%;
    align-items:center ;
    

}

.actionText{
    display: flex;
    color: #F9FAF8; 
    height: 100%;
    align-items: center;

}


.actionButton{
    border-radius: 10%;
    border: white 1px solid;
    background-color: #3882F6;
    color: white;
    width:fit-content;
    padding: 5px;
    width:fit-content;
    height: fit-content;

}

.secondary{
    color:#E5E7EB;
    font-size: 12px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#E5E7EB;
    height: 100px;
}