.nav{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    padding: 0px 150px;
}

.mainTitle{
    background-color: #1F2937;
    display: flex;
    justify-content:space-between;
    color: hsl(90, 17%, 98%);
    padding: 100px 150px;

}

.mainLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    max-width: 40%;
    flex-shrink: 1;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
    font-size: 18px;

}

button{
    border-radius: 10%;
    background-color: #3882F6;
    width:fit-content;
    padding: 5px;
}


a{
    color: #E5E7EB;
    text-decoration: none;
}

img{
    border-radius: 10%;
    width: 40%;
    flex-shrink: 1;
    
    
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
}